<div class="page-heading">
  <h4 class="page-title"><%= t('.title') %></h4>
</div>

<div class="row justify-content-center">
  <div class="col-sm-4">
    <%= link_to(new_website_path,
      class: "card card-link mb-3") do %>
      <div class="card-body text-muted text-center d-flex align-items-center justify-content-center">
        <i class="mr-3" data-feather="link-2"></i>
        <h6 class="mb-0"><%= t('.add') %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @websites.any? %>
      <div data-behavior="websites-list">
        <%= render("websites/sliced", websites: @websites) %>
      </div>

      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
          <div class="text-center" data-behavior="pagination-wrapper">
            <%= render("websites/next_page", websites: @websites) %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render("shared/blankslate", resource: t('.resource')) %>
    <% end %>
  </div>
</div>
