<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

  <div class="page-actions">
    <%= link_to(t('.add'), new_website_path, class: "btn btn-primary btn-sm") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @websites.any? %>
      <div data-behavior="websites-list">
        <%= render("websites/sliced", websites: @websites) %>
      </div>

      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
          <div class="text-center" data-behavior="pagination-wrapper">
            <%= render("websites/next_page", websites: @websites) %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render("shared/blankslate", resource: t('.resource')) %>
    <% end %>
  </div>
</div>
