<div class="page-header">
  <h4 class="page-title"><%= @website.name %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

  <div class="page-actions">
    <%= link_to(t('.response_times'), website_charts_response_time_index_path(@website),
      class: "btn btn-primary btn-sm") %>

    <%= link_to(t('.edit'), edit_website_path(@website),
      class: "btn btn-secondary btn-sm") %>

    <%= link_to(t('.destroy'), website_path(@website),
      method: :delete, data: { prompt: t('.destroy_confirm', name: @website.name) },
      class: "btn btn-outline-danger btn-sm") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @pings.any? %>
      <div class="card card-body mb-3" data-behavior="pings-list">
        <%= render(partial: 'pings/ping', collection: @pings, as: :ping) %>
      </div>

      <div class="d-flex justify-content-center" data-behavior="pagination-wrapper">
        <%= paginate(@pings) %>
      </div>
    <% else %>
      <%= render("shared/blankslate", resource: t('.resource')) %>
    <% end %>
  </div>
</div>
