<div class="container">
  <div class="page-header">
    <%= link_to(root_path) do %>
      <%= image_tag("bolt.png", class: "d-block mx-auto  mb-4", width: 60) %>
    <% end %>

    <h4 class="page-title">Storm</h4>
    <h5 class="page-subtitle"><%= t(".header") %></h5>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-body mb-3">
        <%= form_for(resource, as: resource_name,
          url: registration_path(resource_name)) do |f| %>
          <%= render("shared/flash/card") %>

          <div class="form-group">
            <%= f.label :email, class: "required" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
            <%= error_message_on(f.object, :email) %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off",
              class: "form-control" %>
            <%= error_message_on(f.object, :password) %>
          </div>

          <div class="actions">
            <%= f.submit t('.action'), class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
