<div class="page-heading">
  <h4 class="page-title"><%= t('.title') %></h4>
</div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <%= link_to(website_path(@website),
      class: "card card-link") do %>
      <div class="card-block text-muted text-center d-flex align-items-center justify-content-center">
        <i class="mr-3" data-feather="arrow-left"></i>
        <h6 class="mb-0"><%= @website.name %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="chart chart-bar" data-behavior="response-time-chart"
          data-url="<%= website_charts_response_time_index_path(@website) %>">
          <div class="p-3">
            <%= image_tag("graph-placeholder.svg", class: "img-fluid") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
