<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle", website_name: @website.name) %></h5>

  <div class="page-actions">
    <%= link_to(@website.name, website_path(@website),
      class: "btn btn-secondary btn-sm") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-body mb-3">
      <div class="chart chart-bar" data-behavior="response-time-chart"
        data-url="<%= website_charts_response_time_index_path(@website) %>">
        <div class="p-3">
          <%= image_tag("graph-placeholder.svg", class: "img-fluid") %>
        </div>
      </div>
    </div>
  </div>
</div>
