<tr>
  <td><%= user.email %></td>

  <td><%= user.formatted_time(:created_at) %></td>

  <td>
    <span class="badge badge-<%= user.pending? ? 'secondary' : 'success' %>">
      <%= user.member_status_text %>
    </span>
  </td>

  <td class="text-right">
    <% if user.pending? %>
      <%= form_for(
        user,
        as: :user,
        url: invitation_path(:user),
        html: { class: "d-inline-block align-middle", method: :post }
      ) do |f| %>
        <%= f.hidden_field(:email, value: f.object.email) %>
        <%= button_tag(class: "btn btn-link btn-sm icon-15",
          title: t('.invitation_link'),
          data: { toggle: "tooltip", placement: "top-right" },
          type: "submit") do %>
          <i data-feather="mail"></i>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for(
      user,
      as: :user,
      url: password_path(:user),
      html: { class: "d-inline-block align-middle", method: :post }) do |f| %>
      <%= f.hidden_field(:email, value: f.object.email) %>
      <%= button_tag(class: "btn btn-link btn-sm icon-15",
        title: t('.reset_password'),
        data: { toggle: "tooltip", placement: "top-right" },
        type: "submit") do %>
        <i data-feather="lock"></i>
      <% end %>
    <% end %>

    <% unless current_user.eql?(user) %>
      <div class="d-inline-block align-middle">
        <%= link_to(user_url(user),
          class: "btn btn-link btn-sm icon-15 text-danger",
          method: :delete, title: t('.destroy_link'),
          data: {
            toggle: "tooltip",
            placement: "top-right",
            prompt: t('.destroy_confirm', email: user.email)
          }
        ) do %>
          <i data-feather="trash" class="pointerless"></i>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
