<tr>
  <td><%= user.email %></td>

  <td><%= local_time(user.created_at, '%B %e, %Y at %l:%M%P') %></td>

  <td>
    <span class="badge badge-<%= user.pending? ? 'default' : 'success' %>">
      <%= user.member_status_text %>
    </span>
  </td>

  <td>
    <% if user.pending? %>
      <%= form_for(
        user,
        as: :user,
        url: invitation_path(:user),
        html: { method: :post }
      ) do |f| %>
        <%= f.hidden_field(:email, value: f.object.email) %>
        <%= button_tag(class: "btn btn-link btn-sm icon-15",
          title: t('.invitation_link'),
          type: "submit") do %>
          <i data-feather="mail"></i>
        <% end %>
      <% end %>
    <% end %>
  </td>

  <td>
    <%= form_for(
      user,
      as: :user,
      url: password_path(:user),
      html: { method: :post }) do |f| %>
      <%= f.hidden_field(:email, value: f.object.email) %>
      <%= button_tag(class: "btn btn-link btn-sm icon-15",
        title: t('.reset_password'),
        type: "submit") do %>
        <i data-feather="lock"></i>
      <% end %>
    <% end %>
  </td>
</tr>
