<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

  <div class="page-actions">
    <%= link_to(t('.invite'), new_user_invitation_path, class: "btn btn-primary btn-sm") %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card card-body mb-3">
      <div class="table-responsive">
        <table class="table table-border-around mb-0">
          <thead>
            <tr>
              <th><%= t('.email') %></th>
              <th><%= t('.created_on') %></th>
              <th><%= t('.status') %></th>
              <th style="min-width: 140px;"></th>
            </tr>
          </thead>
          <tbody>
            <%= render(@users) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
