<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <%= link_to(new_user_invitation_path,
      class: "card card-link mb-3") do %>
      <div class="card-body text-muted text-center d-flex align-items-center justify-content-center">
        <i class="mr-3" data-feather="user-plus"></i>
        <h6 class="mb-0"><%= t('.invite') %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card card-body mb-3">
      <div class="table-responsive">
        <table class="table table-border-around mb-0">
          <thead>
            <tr>
              <th><%= t('.email') %></th>
              <th><%= t('.created_on') %></th>
              <th><%= t('.status') %></th>
              <th style="min-width: 140px;"></th>
            </tr>
          </thead>
          <tbody>
            <%= render(@users) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
