<div class="container">
  <div class="auth">
    <%= link_to(root_path) do %>
      <%= image_tag("logo.svg", class: "auth-logo mx-auto d-block mb-3") %>
    <% end %>

    <h3 class="auth-title text-center mb-3">
      Forgot your password?
    </h3>

    <div class="card">
      <div class="card-block">
        <%= form_for(resource, as: resource_name,
          url: password_path(resource_name),
          html: { method: :post }) do |f| %>
          <%= render("shared/flash") %>


          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true,
              class: "form-control" %>

            <%= error_message_on(f.object, :email) %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions",
              class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
