<nav class="navbar navbar-inverse bg-primary">
  <ul class="navbar-nav">
    <%= nav_link(t('.websites'), root_path) %>
    <%= nav_link(t('.settings'), edit_settings_path) %>
    <%= nav_link(t('.users'), users_path) %>
    <%= nav_link(t('.tokens'), tokens_path) %>
    <% if user_signed_in? %>
      <%= nav_link(t('.sign_out'), destroy_user_session_path, method: :delete) %>
    <% end %>
  </ul>
</nav>
