<nav class="navbar navbar-inverse bg-primary">
  <ul class="navbar-nav">
    <%= nav_link("Websites", root_path) %>
    <%= nav_link("Stats", "#") %>
    <%= nav_link("Settings", edit_settings_path) %>
    <%= nav_link("Users", users_path) %>
    <% if user_signed_in? %>
      <%= nav_link("Sign Out", destroy_user_session_path, method: :delete) %>
    <% end %>
  </ul>
</nav>
