<tr>
  <td><%= token.name %></td>

  <td><%= token.created_by.email %></td>

  <td><%= token.formatted_time(:last_used_at) %></td>

  <td>
    <button class="btn btn-link btn-sm icon-15" type="button"
      title="<%= t('.copy') %>"
      data-toggle="tooltip"
      data-placement="top-right"
      data-clipboard-text="<%= token.value %>"
      data-behavior="copy-to-clipboard">
      <i data-feather="clipboard"></i>
    </button>
  </td>

  <td>
    <%= link_to(t('.revoke'), token, method: :delete,
      class: 'btn btn-outline-danger btn-sm float-right',
      data: { prompt: t('.confirm') }) %>
  </td>
</tr>
