<div class="page-header">
  <h4 class="page-title"><%= t('.title') %></h4>
  <h5 class="page-subtitle"><%= t('.subtitle') %></h5>

  <div class="page-actions">
    <%= link_to(t('.add'), new_token_path, class: "btn btn-primary btn-sm") %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-body mb-3">
      <div class="table-responsive">
        <table class="table table-border-around mb-0">
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.created_by') %></th>
              <th><%= t('.last_used') %></th>
              <th><%= t('.copy') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render(@tokens) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
