<div class="page-header">
  <h4 class="page-title"><%= t('.title') %></h4>
  <h5 class="page-subtitle"><%= t('.subtitle') %></h5>
</div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <%= link_to(new_token_path,
      class: "card card-link mb-3") do %>
      <div class="card-body text-muted text-center d-flex align-items-center justify-content-center">
        <i class="mr-3" data-feather="layers"></i>
        <h6 class="mb-0"><%= t('.add') %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-body mb-3">
      <div class="table-responsive">
        <table class="table table-border-around mb-0">
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.created_by') %></th>
              <th><%= t('.last_used') %></th>
              <th><%= t('.copy') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render(@tokens) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
