<div class="container">
  <div class="page-header">
    <%= image_tag("welcome/icon.png", class: "d-block mx-auto mb-4", width: 50) %>

    <h4 class="page-title"><%= t(".title") %></h4>
    <h5 class="page-subtitle w-50 w-md-100 m-auto"><%= t(".subtitle") %></h5>

    <div class="mt-4">
      <%= link_to("Source code", "https://github.com/ProctorU/storm",
        class: "btn btn-secondary") %>

      <a href="https://heroku.com/deploy?template=https://github.com/ProctorU/storm"
        class="btn btn-primary">
        Deploy to Heroku
      </a>

      <% if User.any? %>
        <%= link_to("Sign in", new_user_session_path,
          class: "btn btn-outline-secondary") %>
      <% else %>
      <%= link_to("Setup your account", new_user_registration_path,
        class: "btn btn-outline-secondary") %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <%= image_tag("welcome/mockup.png", class: "mb-3 rounded img-fluid shadow") %>
    </div>
  </div>
</div>
