<%= form_for(setting, url: settings_path) do |f| %>
  <div class="form-group">
    <%= f.label :slack_url, t('.labels.slack_url') %>
    <%= f.text_field :slack_url, autofocus: true, class: "form-control" %>
    <%= error_message_on(f.object, :slack_url) %>

    <p class="form-text text-muted">
      <%= t('.slack_instructions') %>
      <%= link_to t('.slack_action'),
        "https://slack.com/apps/A0F7XDUAZ-incoming-webhooks",
        target: :blank %>.
    </p>
  </div>

  <div class="form-group">
    <%= f.label :secondary_slack_url, t('.labels.secondary_slack_url') %>
    <%= f.text_field :secondary_slack_url, class: "form-control" %>
    <%= error_message_on(f.object, :secondary_slack_url) %>

    <p class="form-text text-muted">
      <small>
        <%= t('.secondary_slack_instructions') %>
      </small>
    </p>
  </div>

  <div class="hr-sect"><%= t('.aws_section') %></div>

  <small class="d-block mb-3 text-muted"><%= t('.aws_info') %></small>

  <div class="form-group">
    <%= f.label :aws_key, t('.labels.aws_key') %>
    <%= f.text_field :aws_key, class: "form-control" %>
    <%= error_message_on(f.object, :aws_key) %>
  </div>

  <div class="form-group">
    <%= f.label :aws_secret, t('.labels.aws_secret') %>
    <%= f.text_field :aws_secret, class: "form-control" %>
    <%= error_message_on(f.object, :aws_secret) %>

    <p class="form-text text-muted">
      <%= t('.aws_instructions') %>
      <%= link_to t('.aws_action'), "#" %>.
    </p>
  </div>

  <div class="form-group mb-0">
    <%= f.submit(t('.action'), class: "btn btn-primary btn-block") %>
  </div>
<% end %>
