<div class="container">
  <div class="text-center my-5">
    <%= link_to(root_path) do %>
      <%= image_tag("bolt.png", class: "d-block mx-auto  mb-4", width: 80) %>
    <% end %>

    <h2>Storm</h2>
    <h3 class="o-75"><%= t('.header') %></h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-body mb-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render("shared/flash/card") %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, t('.labels.remember_me') %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit t('.action'), class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
