<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

  <div class="page-actions">
    <%= link_to(t('.back'), users_path, class: "btn btn-secondary btn-sm") %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card card-body mb-3">
      <p><%= sanitize(t('.instructions', email: @user.email)) %></p>

      <div class="input-group">
        <input type="text"
          class="form-control"
          value="<%= accept_user_invitation_url(
            invitation_token: params[:token]
          ) %>" />

        <div class="input-group-append">
          <button class="btn btn-primary icon-15" type="button"
            title="<%= t('.action') %>"
            data-toggle="tooltip"
            data-placement="top-right"
            data-clipboard-text="<%= accept_user_invitation_url(
              invitation_token: params[:token]
            ) %>"
            data-behavior="copy-to-clipboard">
            <i data-feather="clipboard"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
