<div class="page-heading">
  <h4 class="page-title"><%= t('.title') %></h4>
</div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <%= link_to(users_path,
      class: "card card-link mb-3") do %>
      <div class="card-body text-muted text-center d-flex align-items-center justify-content-center">
        <i class="mr-3" data-feather="arrow-left"></i>
        <h6 class="mb-0"><%= t('.back') %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card card-body mb-3">
      <p><%= sanitize(t('.instructions', email: @user.email)) %></p>

      <div class="input-group">
        <input type="text"
          class="form-control"
          value="<%= accept_user_invitation_url(
            invitation_token: params[:token]
          ) %>" />

        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"
            data-clipboard-text="<%= accept_user_invitation_url(
              invitation_token: params[:token]
            ) %>"
            data-behavior="copy-to-clipboard">
            <%= t('.action') %>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
