<!DOCTYPE html>
<html>
  <head>
    <title>Storm</title>
    <%= render("shared/meta-tags") %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  </head>

  <body class="<%= body_classes %>">
    <%= render("shared/browse-happy") %>
    <%= yield %>
    <%= render("shared/footer") %>
  </body>
</html>
